<p id="notice"><%= notice %></p>

<p>
  <b>Username:</b>
  <%= @user.username %>
</p>

<p>
  <b>V no:</b>
  <%= @user.v_no %>
</p>

<p>
  <b>Reservations:</b>
  <%= @user.reservations %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
